@charset "UTF-8";
/* Versiones Destacadas */
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #929AAB;
  font-family: "Sofia Sans", sans-serif;
}

@media screen and (max-width: 991px) {
  body p {
    text-align: center;
  }
  nav a:hover {
    font-size: 20px;
  }
}
header {
  background-color: black;
}
header h1 {
  font-size: 0px;
  color: white;
  text-align: center;
}

iframe {
  width: 100%;
}

@media screen and (max-width: 280px) {
  iframe {
    width: 100%;
  }
}
/* Menu de Navegación */
.navbar {
  background-color: rgb(0, 0, 0);
  position: relative;
}
.navbar a {
  color: white;
  padding: 30px;
  cursor: pointer;
  justify-content: center;
}
.navbar a img {
  width: 80px;
  height: auto;
}
.navbar a:hover {
  color: firebrick;
  text-decoration: overline;
}
.navbar .span_burger {
  color: white;
  cursor: pointer;
}
.navbar .border_burger {
  border-color: white;
  cursor: pointer;
}
.navbar .border_burger:hover {
  background-color: rgb(50, 50, 50);
}

.main_versiones h2 {
  text-align: center;
  margin: 50px;
}

.versiones_videos .versiones_videos1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5%;
  padding-bottom: 5%;
}
.versiones_videos .versiones_videos1 p {
  font-size: xx-large;
}
.versiones_videos .versiones_videos1 iframe {
  border-radius: 30px;
}
.versiones_videos .versiones_videos2 {
  background-color: rgb(50, 50, 50);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5%;
  padding-bottom: 5%;
}
.versiones_videos .versiones_videos2 p {
  font-size: xx-large;
}
.versiones_videos .versiones_videos2 iframe {
  border-radius: 30px;
}
.versiones_videos .versiones_videos3 {
  background-color: rgb(50, 50, 50);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5%;
  padding-bottom: 5%;
}
.versiones_videos .versiones_videos3 p {
  font-size: xx-large;
}
.versiones_videos .versiones_videos3 iframe {
  border-radius: 30px;
}
.versiones_videos .versiones_videos4 {
  background-image: url(../img/vacio-guardar-textura-habitacion-luz.jpg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5%;
  padding-bottom: 5%;
}
.versiones_videos .versiones_videos4 p {
  font-size: xx-large;
}
.versiones_videos .versiones_videos4 iframe {
  border-radius: 30px;
}

/* Footer */
footer {
  grid-area: footer;
}
footer div {
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: white;
  padding: 1em;
}
footer li {
  margin-right: 30px;
}

.footer_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer_container ul {
  list-style: none;
}
.footer_container ul a {
  color: white;
  text-decoration: none;
}
.footer_container ul a:hover {
  color: #929AAB;
  text-decoration: underline;
}

.div_social_logo {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.social_logo {
  list-style: none;
  display: flex;
}
.social_logo img {
  width: 30px;
  height: 30px;
}
.social_logo img:hover {
  transform: scale(1.35);
}

/*# sourceMappingURL=estilos_versiones.css.map */
