/* Archivo Contacto */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
$space: 20px;

/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #929AAB;
    font-family: 'Sofia Sans', sans-serif;
}

@media screen and (max-width: 768px) {
    body {
        background-color: rgb(40, 40, 40);
        color: azure;
    }

    .h2Index {
        color: white;
    }
}
@media screen and (max-width: 991px) {
    a:hover {
        font-size: $space;
    } 
}


header {
    background-color: black;
    h1 {
        font-size: 0px;
        color: white;
        text-align: center;
    }
}

/* Menu de Navegación */
.navbar {
    background-color: rgb(0, 0, 0);
    a {
        color: white;
        padding: 30px;
        cursor: pointer;
        justify-content: center;
        &:hover {
            color: firebrick;

        }
    }
}

.div_container_contacto {
    margin: 50px;
}

/* Todos los Footer */
footer {
    grid-area: footer;
    div {
        background-color: rgb(0, 0, 0);
        text-align: center;
        color: white;
        padding: 1em;
    }
}    

li {
    margin-right: 30px;
}

.div_social_logo {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.social_logo {
    list-style: none;
    display: flex;
}

.social_logo li a img {
    width: 30px;
    height: 30px;
}

.social_logo li a img:hover {
    transform: scale(1.35);
}