/* Archivo Historia */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
$space: 20px;

/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #929AAB;
    font-family: 'Sofia Sans', sans-serif;
}

@media screen and (max-width: 991px) {
    body {
        background-color: rgb(40, 40, 40);
        color: azure;
    }

    a:hover {
        font-size: $space;
    }

    .texto_negro {
        color: rgb(180, 180, 180);
    }

    .section_container_historia {
        flex-direction: column;
        color: white;
        text-align: center;
        article {
            position: absolute;
        }
    }
}
@media screen and (max-width: 768px) {
    body {
        background-color: rgb(40, 40, 40);
        color: azure;
    }
}
@media screen and (max-width: 642px) {
    .section_container_historia {
        img {
            opacity: 0;
            padding-top: 8rem;
        }
        p {
            color: white;
        }
    }
}

header {
    background-color: black;
    h1 {
        font-size: 0px;
        color: white;
        text-align: center;
    }
}

/* Menu de Navegación */
.navbar {
    background-color: rgb(0, 0, 0);
    position: relative;
    a {
        color: white;
        padding: 30px;
        cursor: pointer;
        justify-content: center;
        img {
            width: 80px;
            height: auto;
        }
        &:hover {
            color: firebrick;
            text-decoration: overline;
        }
    }
    .span_burger {
        color: white;
        cursor: pointer;
        &:hover {
            color: firebrick;
        }
    }
}

/* Imagenes */
img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.historiaTitulos {
    font-size: 25px;
    color: #efb810;
}

.section_container_historia {
    margin: 50px;
    display: flex;
    position: relative;
    article {
        padding: 1rem;
    }
}

/* Footer */
footer {
    grid-area: footer;
    div {
        background-color: rgb(0, 0, 0);
        text-align: center;
        color: white;
        padding: 1em;
    }
    li {
        margin-right: 30px;
    }
}

.footer_container {
    display: flex;
    justify-content: space-around;
    ul {
        list-style: none;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: #929AAB;
                text-decoration: underline;
            }
        }
    }
}

.div_social_logo {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.social_logo {
    list-style: none;
    display: flex;
    img {
        width: 30px;
        height: 30px;
        &:hover {
            transform: scale(1.35);
        }
    }
}