@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

$space: 20px;
$tamaio: 300px;

/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #929AAB;
    font-family: 'Sofia Sans', sans-serif;
}

@media screen and (max-width: 991px) {
    body {
        background-color: rgb(50, 50, 50);
        color: azure;
    }

    nav {
        a {
            &:hover {
                font-size: $space;
            }
        }
    }
    .h2Index {
        color: white;
    }
}
@media screen and (max-width: 767px) {
    .flex_columna {
        flex-direction: column;
    }
}

header {
    grid-area: header;
    background-color: rgb(0, 0, 0);
    
    .titulo_gt {
        font-family: none;
        text-align: center;
        color: white;
        border: 15px solid black;
        background-color: #929AAB;
    }
    .titulo_r {
        color: firebrick;
    }
    
    h1 {
        color: rgb(0, 0, 0);
        text-align: center;
        padding-top: 15px;
        border: #929AAB;
    }
}

/* Menu de Navegación */
.navbar {
    background-color: rgb(0, 0, 0);
    position: relative;
    a {
        color: white;
        padding: 30px;
        cursor: pointer;
        justify-content: center;
        img {
            width: 80px;
            height: auto;
        }
        &:hover {
            color: firebrick;
            text-decoration: overline;
        }
    }
    .span_burger {
        color: white;
        cursor: pointer;
    }
    .border_burger {
        border-color: white;
        cursor: pointer;
        &:hover {
            background-color: rgb(50, 50, 50);
        }
    }
}

/* Todas las Imagenes */
img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/* Texto Skyline gtr r34 */    
.skylinegtrr34 {
    text-align: center;
    padding-top: 20px;
    }
    
/* Imagen Skyline gtr r34 */
.skylineIntro {
    width: 60%;
    height: 60%;
    display: block;
    margin: auto;
}

main h2 {
    color: black;
}

.main_container {
    margin: 50px;
}

/* Imagen y texto de Motor, Carroceria, Interior */
.espacio_index {
    padding-top: 5%;
    padding-bottom: 5%;
    section {
        margin: 5%;
    }
    .carrusel_container {
        width: 350px;
        height: 250px;
        img {
            width: 300px;
            height: 200px;
        }
    }
}

/* Informacion final y logos */
.info_nissan {
    padding: 5% 25% 1% 25%;
}

.logos_nissan {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 8rem;
    img {
        width: 120px;
    }
}

/* Footer */
footer {
    grid-area: footer;
    div {
        background-color: rgb(0, 0, 0);
        text-align: center;
        color: white;
        padding: 1em;
    }
    li {
        margin-right: 30px;
    }
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    ul {
        list-style: none;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: #929AAB;
                text-decoration: underline;
            }
        }
    }
}

.div_social_logo {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.social_logo {
    list-style: none;
    display: flex;
    img {
        width: 30px;
        height: 30px;
        &:hover {
            transform: scale(1.35);
        }
    }
}